<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Orange Bleue</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{'main'}}">Tableau de bord
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu Admin</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{'franchises'}}">Franchises</a>
						<a class="dropdown-item" href="{{'structures'}}">Structures</a>
						<a class="dropdown-item" href="{{'modules'}}">Modules</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{'register'}}">Utilisateurs</a>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link text-danger" href="{{ path ('app_logout') }}">Deconnexion</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('app_login') }}">Connexion</a>
					</li>
				{% endif %}  
			</ul>
		</div>
	</div>
</nav>
