{% extends 'base.html.twig' %}

{% block title %}Liste des Structures
{% endblock %}

{% block body %}

	<div class="container mt-4">

		<h1>Liste des Structures</h1>
		{% if is_granted('ROLE_ADMIN', 'ROLE_FRANC') %}
		<a href="{{ path('structures.new') }}" class="btn btn-primary mb-4">Ajouter une structure</a>
		{% endif %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<div class="count">
			Nombre de franchises disponible :{{ structures.getTotalItemCount}}
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-form-label" for="inputDefault"></label>
					<input type="text" class="form-control" id="marecherche" onkeyup="recherche()" placeholder="Recherche">
				</div>
			</div>
		</div>

		<table class="table table-hover" id="matable">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Email gestionnaire</th>
					<th scope="col">Adresse</th>
					<th scope="col">Status</th>
					<th scope="col">Date de création</th>
					<th scope="col">Editer</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for structures in structures  %}
					<tr class="table-active">
						<th scope="row">{{ structures.id }}</th>
						{# <td>{{ structures.user_id }}</td> #}
						<td>{{ structures.adresse }}</td>
						{# <td>{{ structures.is_active }}</td> #}
						<td>{{ structures.createdAt|date('d/m/Y') }}</td>
						{% if is_granted('ROLE_ADMIN', 'ROLE_FRANC') %}
						<td>
							<a href="{{ path('structures.edit', {'id': structures.id}) }}" class="btn btn-primary">Editer</a>
						</td>
						<td>
							<a href="{{ path('structures.delete', {'id': structures.id}) }}" class="btn btn-danger">Supprimer</a>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(structures) }}
		</div>

	</div>

{% endblock %}
